<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />

  <style>
    .big-heading {
      font-family: 'Montserrat', sans-serif;
    }

    .navbar {
      font-family: 'Montserrat', sans-serif;
      background-color: rgb(30 44 122);
    }

    .nav-item {
      padding: 0 18px;
    }
  </style>

  <title>How To Stay Fit And Healthy ?</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">HealthCare's Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Return To Main</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              More Blogs
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="meditation-blog.html" target="_blank">Meditation Blog</a>
              </li>
              <li>
                <a class="dropdown-item" href="motivation-blog.html" target="_blank">Motivation Blog</a>
              </li>
              <li>
                <a class="dropdown-item" href="study-blog.html" target="_blank">Study Blog</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page-content -->

  <div class="container py-3">
    <h1 class="text-center fw-bold py-4 big-heading">How To Stay Fit And Healthy ?</h1>
    <div class="row pb-4">
      <div class="col-md-6">
        <h3>1. Excersing Effectively</h3>
        <p>
          Exercise is one of the most important aspects in staying (or
          becoming) fit and healthy. Experts recommend that you should aim to
          be active for at least 30 minutes per day
        </p>
        <p>
          You will see the most benefits from exercise if you do it regularly.
          One good way to make a habit stick is to pick a form of exercise
          that you enjoy. For example, if you like swimming, make it a point
          to swim laps twice a week.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img class="img-fluid w-75" src="static/img/fitness-blog-male-img.jpg" alt="" />
      </div>
    </div>

    <div class="row pb-4">
      <div class="col-md-6 pb-4">
        <h3>2. Eating Right</h3>
        <p>
          Eating right has a lot of benefits. It will help you maintain a
          healthy weight, improve your skin, and give you more energy. One of
          the best ways to eat a healthy diet is to cook your own food.
          Reports show that people who cook their own meals consume lower
          levels of sugar and fats. Cooking with fresh foods also helps you to
          eat fewer processed foods, which typically have high sodium levels.
        </p>
        <p>
          When you're cooking for yourself, you can fully control the
          ingredients you use. This will help you make sure you are getting
          the nutrients your body needs. Eating well can help control your
          weight, and it can also give you the energy you need to exercise
          regularly
        </p>
      </div>

      <div class="col-md-6 text-center">
        <img class="img-fluid w-75" src="static/img/apple-img.jpg" alt="" />
      </div>
    </div>

    <div class="row pb-4">
      <div class="col-md-6">
        <h3>3. Having Healthy Mindset</h3>
        <p>
          Mental health is an important part of feeling fit and beautifully
          healthy. It can be hard to have a positive body image when we are
          inundated with pictures of very thin actresses and models.
        </p>
        <p>
          Body image is all about how you feel about how you look. So try to
          focus on positive feelings. Focus on the good things your body does
          for you, like give you the energy to play with your dog. When you
          feel healthy, you will also feel more fit and beautiful.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img class="img-fluid w-75" src="static/img/fitness-blog-female-img.jpg" alt="" />
      </div>
    </div>
  </div>

  <footer class="text-center text-white py-3" style="background-color: rgb(56, 56, 56)">
    <p>© 2021-2024</p>
    <p>Mail Us at: <a href="">healthcare@gmail.com</a></p>
    <p>Contact Us: 1800000000</p>
    <p>Follow Us On Social Media</p>
    <a href=""><i class="bi bi-facebook"></i></a>
    <a href=""><i class="bi bi-instagram mx-5"></i></a>
    <a href=""><i class="bi bi-twitter"></i></a>
  </footer>

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>